@page "/"

@inject IConfiguration _Config

@code{
    protected override void OnInitialized()
    {


    }
}

<PageTitle>API</PageTitle>

<h1>Modern Technology System</h1>

<h5>“Modern Technology Systems” is an Information Technology Company based in Jeddah, KSA that provides a full range of IT Services and IT Solutions to Saudi Arabia and many other countries.</h5>

