@page "/Token"
@using ModernAPI.Data
@inject NavigationManager NavManager
@inject IConfiguration _Config


<h3>Token</h3>

@code {
    public IConfiguration Config { get; set; }
    public TokenClass TokenService { get; set; }
    public string TokenText { get; set; } = "No Toke";

    protected override void OnInitialized()
    {
        Config = _Config;
        TokenService = new TokenClass(Config);

    }

    

}

<div class="container">
    
    <div class="row mt-3">
        <div class="col-12">
            <div class="w-75 text-wrap text-break border p-2">
                <p class="m-0">@TokenService.TokenText</p>
            </div>
        </div>
    </div>
</div>

