@inject NavigationManager NavManager
@inject IConfiguration Config

<ul class="nav bg-light">

    @if (IsMnuToken)
    {
        <li class="nav-item">
            <div class="nav-link">
                <button class="btn btn-primary" @onclick="mnuToken">TOKEN</button>
            </div>
        </li>
    }

    @if (IsMnuAssets)
    {
        <li class="nav-item">
            <div class="nav-link">
                <button class="btn btn-primary" @onclick="mnuAssets">ASSETS</button>
            </div>
        </li>
    }

    @if (IsMnuImport)
    {
        <li class="nav-item">
            <div class="nav-link">
                <button class="btn btn-primary" @onclick="mnuImport">Import</button>
            </div>
        </li>
    }


</ul>

@code {

    public bool IsMnuToken { get; set; } = false;
    public bool IsMnuAssets { get; set; } = false;
    public bool IsMnuImport { get; set; } = false;


    protected override void OnInitialized()
    {
        IsMnuToken = Config.GetValue<bool>("IsToken");
        IsMnuAssets = Config.GetValue<bool>("IsAssets");
        IsMnuImport = Config.GetValue<bool>("IsImport");

    }






    public void mnuToken() { NavManager.NavigateTo("/Token"); }
    public void mnuAssets() { NavManager.NavigateTo("/Assets"); }
    public void mnuImport() { NavManager.NavigateTo("/Import"); }
}