@inject NavigationManager NavManager

<ul class="nav bg-light">
    <li class="nav-item">
        <div class="nav-link">
            <button class="btn btn-primary" @onclick="mnuToken">TOKEN</button>
        </div>
    </li>
    <li class="nav-item">
        <div class="nav-link">
            <button class="btn btn-primary" @onclick="mnuAssets">Assets</button>
        </div>
    </li>
    <li class="nav-item">
        <div class="nav-link">
            <button class="btn btn-primary" @onclick="mnuClass">Class</button>
        </div>
    </li>
    <li class="nav-item">
        <div class="nav-link">
            <button class="btn btn-primary" @onclick="mnuLocation">Location</button>
        </div>
    </li>
    <li class="nav-item">
        <div class="nav-link">
            <button class="btn btn-primary" @onclick="mnuImport">Import</button>
        </div>
    </li>
</ul>



@code {
    public void mnuToken() { NavManager.NavigateTo("/Token"); }
    public void mnuAssets() { NavManager.NavigateTo("/Assets"); }
    public void mnuClass() { NavManager.NavigateTo("/Class"); }
    public void mnuLocation() { NavManager.NavigateTo("/Location"); }
    public void mnuImport() { NavManager.NavigateTo("/Import"); }

}

